//- RoomsPage
extends ../Components/layout
include ../Components/mixin/general-header

block content
  +generalHeader("Rooms")
  <section class="rooms">!{content}</section>
block scripts
  script(src='/js/rooms.bundle.js')
