section.about-team
  h2.text-center Our Team
  .container.flex
    .team-mate
      .content
        p.name Sara Odonell
        p.title Manager
    .team-mate
      .content
        p.name Julia Patison
        p.title Manager
    .team-mate
      .content
        p.name Nick Parker
        p.title Manager
    .team-mate
      .content
        p.name John Maladery
        p.title Manager
    
