section.about-us
  .container
    .about-info-card
      .content
        p.number 1896
        p Happy Customers
      .content
        p.number 45
        p Awwards
      .content
        p.number 599
        p with Pets
      .content
        p.number 860
        p Cups of Coffee
    .what-we-offer
      h2.text-center What We Offer?
      .offering.grid
        .modern-room-pic
          img.responsive-img(src='../img/modern-room.jpg' alt='modern room')
        .modern-rooms
          h3 Modern Rooms
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam vero est dolorem architecto, nobis inventore libero exercitationem voluptate earum natus aspernatur dolorum, sint totam quos, laborum!
          button Choose Room
        .hotel-facilities
          h3 Hotel Facilities
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam dolorem perferendis ex nobis molestias illo ducimus, soluta repellat quidem exercitationem consectetur dicta assumenda reiciendis pariatur dolorum.
          button See all Facilities
        .hotel-facilities-pic
          img.responsive-img(src='../img/hotel-spa.jpg' alt='a spa facilitie')
        .excelent-services-pic
          img.responsive-img(src='../img/hotel-room-service.jpg' alt='room service')
        .excelent-services
          h3 Excellent services
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos qui ullam fugit mollitia, nulla in voluptate commodi doloremque quibusdam, molestiae adipisci ut amet molestias ad ipsam.
          button Choose rooms
