//- HomePage
extends ../Components/layout

block content
  include ./includes/home-header
  include ./includes/home-the-best
  include ./includes/home-ours-rooms
  include ./includes/home-enjoy-vacation
  include ./includes/home-newsletter
  include ./includes/home-discount
block scripts
  script(src='/js/home.bundle.js')
