//-general header

mixin generalHeader(title)
  header.general-header
    .container
      .header-top.flex
        .brand-name
          a(href='/')
            h1 GreenDream       
        nav
          ul.nav-list.flex
            li
              a(href='/') Home            
            li
              a(href='/about') About Us            
            li
              a(href='/rooms') Rooms           
            li
              a(href='/contact') Contact
      .header-lower-2.flex
        h2 #{title}
  


 
