section.contact-us
  .container.flex
    form.contact-form
      h2 Send us a Message
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam nam excepturi omnis maiores harum aliquid tenetur labore autem provident commodi nesciunt voluptatem in, at, iure cum!
      div.form-group.inputs
        .content
          label Your Name
          input(placeholder="Enter your name")
        .content
          label Your Email
          input(placeholder="Enter your email")
      div.form-group.textarea
        label.text-area-label Your Message
        textarea(placeholder="Enter your message")
      div.button-container
        button Send Message
