//- Contact Page
extends ../Components/layout

block content
  <header class="general-header">!{GeneralHeaderContent}</header>
  include ./includes/contact-us
block scripts
  script(id='page-ssr').
    window.__data__ = !{JSON.stringify(contactData).replace(/<\//g, "<\\/")}
  script(src='/js/contact.bundle.js')
