section.discount
  .container.flex
    h2 Save up to 50%
    p at summer vacation
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat eum nobis debitis eveniet ipsum corporis velit laborum perspiciatis adipisci sunt!
    button Book now
