section.enjoy-vacation
  .container.flex
    h2.text-center Enjoy your vacation with us
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, fuga.
    a(href=`${url}/rooms`) Book Now
