//- Home our rooms section
section.our-rooms
  h2.text-center Our Rooms
  .container.grid
    .deluxe-room
        .content
          h3 Deluxe Room       
          p $500 / per night   
    .single-room
      .content
        h3 Single Room       
        p $100 / per night   
    .double-room
      .content
        h3 Double Room        
        p $100 / per night   
    .family-room
      .content
        h3 Family Room      
        p $100 / per night  
    .see-more
      .content
        h3 See more      
        p 28 Total
