//- Homepage header 
header.home-header
    .container
        <div class="header-top flex">!{HomeHeaderContent}</div> 
        .header-lower.flex
          h1.header-headline Book your best room 
          <form class="hotel-search flex">!{HomeSearchContent}</form>
