// our room section
.our-rooms .container {
  color: #fff;
  padding-bottom: 20px;
}

.our-rooms h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.our-rooms .grid {
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 278px 278px;
  grid-gap: 20px;
}

.our-rooms .king-room {
  display: flex;
  background: url("../img/deluxe-room.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  grid-column: 1/3;
  grid-row: 1/3;
}

.our-rooms .standard-room {
  display: flex;
  background: url("../img/single-room.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  grid-column: 3/4;
  grid-row: 1/2;
}

.our-rooms .double-room {
  display: flex;
  background: url("../img/double-room-2.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  grid-column: 4/5;
  grid-row: 1/2;
}

.our-rooms .queen-room {
  display: flex;
  background: url("../img/family-room.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  grid-column: 3/4;
  grid-row: 2/3;
}

.our-rooms .see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  background: url("../img/see-more.jpg") no-repeat center center;
  background-size: cover;
  grid-column: 4/5;
  grid-row: 2/3;
}

.our-rooms .queen-room .content,
.our-rooms .double-room .content,
.our-rooms .standard-room .content,
.our-rooms .king-room .content {
  margin: auto 0 10px 10px;
  margin-top: auto;
  margin-bottom: 10px;
}

.our-rooms .see-more .content p,
.our-rooms .queen-room .content p,
.our-rooms .double-room .content p,
.our-rooms .standard-room .content p,
.our-rooms .king-room .content p {
  font-size: 18px;
  font-weight: 700;
}

.our-rooms .see-more .content h3,
.our-rooms .queen-room .content h3,
.our-rooms .double-room .content h3,
.our-rooms .standard-room .content h3,
.our-rooms .king-room .content h3 {
  font-size: 24px;
}

@media screen and (max-width: 900px) {
  .our-rooms .standard-room {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .our-rooms .double-room {
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .our-rooms .queen-room {
    grid-column: 3/4;
    grid-row: 1/2;
  }

  .our-rooms .see-more {
    grid-column: 4/5;
    grid-row: 1/2;
  }

  .our-rooms .king-room {
    grid-column: 1/5;
    grid-row: 2/3;
  }
}

@media screen and (max-width: 699px) {
  .our-rooms .grid {
    grid-template-columns: 1fr;
    grid-template-rows: 278px 278px 278px 278px 278px;
    grid-gap: 20px;
  }

  .our-rooms .standard-room {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .our-rooms .double-room {
    grid-column: 1/2;
    grid-row: 2/3;
  }

  .our-rooms .queen-room {
    grid-column: 1/2;
    grid-row: 3/4;
  }

  .our-rooms .king-room {
    grid-column: 1/2;
    grid-row: 4/5;
  }

  .our-rooms .see-more {
    grid-column: 1/2;
    grid-row: 5/6;
  }
}
