// Home Header
@import "../../Components/_variables";

.home-header {
  height: 800px;
  background: url("../img/hotel-header.jpg") no-repeat center center;
  background-size: cover;
}

header nav {
  padding-top: 20px;
}

.header-top {
  justify-content: space-between;
}

.brand-name h1 {
  color: #2ec84f;
}

.brand-name a {
  text-decoration: none;
}

.nav-list {
  font-size: 18px;
  list-style-type: none;

  li {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
    font-weight: 700;
    color: #fff;
  }
}

.header-lower {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.header-headline {
  font-size: 64px;
  color: #fff;
}

.hotel-search {
  margin-top: 10px;
  padding: 30px;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.hotel-search .input-group {
  display: flex;
  flex-direction: column;
}

.hotel-search .input-group input {
  font-size: 14px;
  width: 170px;
  padding: 10px;
  margin-right: 10px;
}

.hotel-search .input-group label {
  margin-bottom: 5px;
}

.hotel-search .home-search {
  font-size: 16px;
  cursor: pointer;
  width: 222px;
  height: 39px;
  align-self: flex-end;
  background-color: $primary-color;
  color: #fff;
  border: 0;
}

.guest-field-group {
  position: relative;
}

.guest-field-group .fa-caret-down {
  font-size: 18px;
  position: absolute;
  top: 34px;
  right: 20px;
  cursor: pointer;
}

.guest-field {
  caret-color: transparent;
  cursor: pointer;
}
