@import "../../Components/_variables";

.enjoy-vacation {
  color: #fff;
  background: url("../img/enjoy-vacation.jpg") no-repeat center center;
  background-size: cover;
}

.enjoy-vacation .container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.enjoy-vacation h2 {
  font-size: 32px;
}

.enjoy-vacation p {
  margin: 10px 0;
  font-weight: 700;
}

.enjoy-vacation a {
  text-align: center;
  font-size: 16px;
  width: 160px;
  padding: 10px;
  cursor: pointer;
  border: 0;
  background-color: $primary-color;
  color: #fff;
  text-decoration: none;
}
