// the best section

.the-best h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.the-best {
  padding: 100px 0;
}

.the-best-info {
  flex-basis: 32.7%;
  margin-right: 10px;
}

.the-best-info:last-child {
  margin-right: 0;
}

.the-best-info p {
  margin: 10px 0;
}
