// Base Css Styles

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
img,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  letter-spacing: 0.4px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Pacifico", sans-serif;
}

button,
input,
textarea {
  outline: none;
}

.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.responsive-img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.fa-star-green {
  color: #1caf4d;
}
