.general-header {
  height: 400px;
  background: url("../img/headerbg2.jpg") no-repeat center center;
  background-size: cover;
  overflow: visible;
}

.header-lower-2 {
  color: #fff;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.header-lower-2 h2 {
  font-size: 45px;
}
