// Header

.brand-name {
  color: #2ec84f;
}

.nav-list {
  display: flex;
  list-style-type: none;

  li {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  a {
    text-decoration: none;
  }
}
