//- error page
extends ./layout
include ./mixin/general-header

block content
  +generalHeader("OOPS!")
  section.error
    .container
      h1 404
      p Sorry, we couldn't find the page you're looking for.
      a(href='') Book Room
