footer
  .container.grid
    .footer-address
      h2 GreenDream
      p.phone-email Phone & Email:
      p 808-888-8888
      p contact@greendream.com
      p.address Address:
      p 4b Long Street, Capon, USA
    .footer-explore
      p Explore
      ul
        li
          a(href='/rooms') Rooms
        li
          a(href='/about') About Us
        li
          a(href='/contact') Contact
        li
          a(href="#") FAQ
    .footer-newsletter
      p Get our newsletter
      input(placeholder="Your e-mail address")
      ul
        li <i class="fab fa-facebook-f"></i>
        li <i class="fab fa-twitter"></i>
        li <i class="fab fa-youtube"></i>
        li <i class="fab fa-instagram"></i>
    
